<html lang="en">
<%- include('../partials/header.ejs') %> <!--Includes the HEAD element from the partials file-->
<body>
    <h1>Error 404 - That page does not exist/Can not be accessed this way</h1>
    <footer>
        <%- include('../partials/footer.ejs') %> <!--Includes the Footer element from the partials file-->
    </footer>
</body>
</html>