<html lang="en">
<%- include('../partials/header.ejs') %> <!--Includes the HEAD element from the partials file-->
<body>
    <!--Load a nice background image into the body-->

<div id="ThanksMessage">
  Thank you <%= name %> for contacting us!
</div>

<div id="OtherResponseOptions">
  <a href="/contact" class="button">Submit another response</a>
  <a href="/" class="button">Return to Home Page</a>
</div>

    <footer>
        <%- include('../partials/footer.ejs') %> <!--Includes the Footer element from the partials file-->
    </footer>
</body>
</html>
