<html lang="en">
<%- include('../partials/header.ejs') %> <!--Includes the HEAD element from the partials file-->
<body id="ThankYouPage">
    <!--Load a nice background image into the body-->

    <div id="ThanksMessage">Thank you <%= name %> for getting in contact with us</div> <!-- Dynamically display the name -->

    <div id="OtherResponseOptions">
        <h3>Here are some things you can do next:</h3>
        <button onclick="window.location.href='/contact'">Submit another response</button>
        <button>View my response</button>
        <button onclick="window.location.href='/'">Return back to the Home Page</button>
    </div>

    <footer>
        <%- include('../partials/footer.ejs') %> <!--Includes the Footer element from the partials file-->
    </footer>
</body>
</html>
